$yellow: #F5DD16;
$dark-grey: #7C7C7C;
$light-grey: #BEBEBE;
$red: #EE4525;
$light-purple: #a29bfe;
$dark-purple: #6c5ce7;

body {
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: $light-purple;
  .navbar-brand {
    color: white !important;
  }
}

.tasks_list {
  margin-top: 40px;
  .title {
    font-size: 22px;
    color: $dark-purple;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .create_task_btn {
    background-color: $dark-purple;
    border-color: $dark-purple;
    font-weight: 500;
    margin-top: 10px;
  }

  .remove_tasks_btn {
    background-color: $red;
    border-color: $red;
    font-weight: 500;
    margin: 10px 0;
    color: white;
  }
  
  .card { 
    background-color: white;
    
    table {
      color: $dark-purple;
      font-weight: 500;
      margin-bottom: 5px;

      tbody > tr:nth-child(1) > td {
        border-top: 0;
      }
      
      .check {
        color: $light-purple;
        font-size: 15px;
      }

      .delete {
        color: $dark-grey;
      }
    }
  }
}